<h3>SpreadJS Data Validation</h3>

<p>
    The sample below shows how to ceate Excel-like validation.
</p>

<gcspread-sheets id="ss" newtabvisible="false" highlightinvaliddata="true">
    <sheets>
       <sheet datasource="employees">
           <columns>
                <column width="130" datafield="name" headertext="Name"></column>
                <column width="90" datafield="phone" headertext="Phone"></column>
                <column width="80" datafield="country" headertext="Country">
                    <default-style>
                        <list-validator list="Germany,UK,US" inputTitle="Please select a country:" inputMessage="Employees are from Germany,UK or US." showInputMessage="true"></list-validator>
                    </default-style>
                </column>
                <column width="240" datafield="email" headertext="Email"></column>
                <column datafield="onJob" headertext="OnJob"></column> 
            </columns>
       </sheet>
    </sheets>
</gcspread-sheets>
