<div class="sample-list">
    <div class="sample-list-head-container  sample-header">
        <div class="sample-head-wrapper">
            <div class="sample-list-head">
                <a href="http://spread.grapecity.com/Products/SpreadJS/" target="_blank" class="sample-head-logo"></a>
                <div class="sample-head-text">{{pageResource.headerText}}</div>
            </div>
        </div>
    </div>
    <div class="sample-list-supheader-container"><!--  -->
        <div class="sample-list-supheader-wrapper">
            <div class="sample-list-supheader">
                <div class="sample-list-title"><span class="header-span">{{pageResource.contentHeaderText}}</span></div>
                <div class="sample-list-search">
                    <!--<div class="sample-list-search-logo"></div>-->
                    <i class="icon-search"></i>
                    <input class="sample-list-search-input" ng-model="query" placeholder="{{pageResource.contentHeaderSearchPlaceholder}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="sample-intro">
        <p>{{pageResource.introductionText}}</p>
    </div>
    <div class="sample-list-content">
        <div class="sample-list-cotent-wrapper">
            <div ng-repeat="category in getCategorys(query)">
                <div class="sample-clear-pre"></div>
                <div class="sample-list-category-title">
                    <h2 class="sample-list-category-titleText">
                        <i class="icon-angle-right"></i>
                        <span>{{category.category.title}}</span>
                    </h2>
                </div>
                <div ng-repeat="feature in category.filterFeatureList" class="sample-list-featureList">
                    <div class="sample-list-featureList-head">
                        <div class="sample-list-featureList-headLogo">
                            <!--<img ng-src="{{feature.imageUrl}}" >-->
                            <i class="{{feature.icon}}"></i>
                        </div>
                        <div class="sample-list-featureList-headText" tool-tip title="{{feature.featureDescription}}">
                            {{feature.feature}}
                        </div>
                    </div>
                    <ul class="sample-list-featureList-item" >
                        <li ng-repeat="featureItem in feature.filterFeatureDetails" type="square" class="feature-list">
                            <a href="#/samples/{{featureItem.resource}}" class="feature-list-name">
                                {{featureItem.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sample-clear-after"></div>
            </div>
        </div>
        <!-- new feature items
        <div class="sample-list-newFeatures sample-none-user-select">
            <div class="sample-list-newFeatures-head">{{pageResource.newFeauresHeaderText}}</div>
            <div class="sample-list-newFeatures-remain">
                <div class="sample-list-newFeatures-left">
                    <div class="sample-list-navigation-left" ng-click="preFeature()"></div>
                </div><div class="sample-list-newFeatures-content sample-list-showShadows">
                    <div class="sample-list-demo-content" animate-move>
                        <div class="sample-clear-pre"></div>
                        <div class="sample-list-demo-item" ng-repeat="newFeature in pageResource.newFeatures">
                            <div class="sample-list-demo-img">
                                <a href="#/samples/{{newFeature.resource}}">
                                    <img ng-src="{{newFeature.imageUrl}}">
                                </a>
                            </div>
                            <div class="sample-list-demo-name">
                                <a href="#/samples/{{newFeature.resource}}" class="sample-list-demo-nameLink">{{newFeature.name}}</a>
                            </div>
                        </div>
                        <div class="sample-clear-after"></div>
                    </div>
                </div><div class="sample-list-newFeatures-right">
                    <div class="sample-list-navigation-right" ng-click="nextFeature()"></div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<div class="sample-footer">
    <div>
        <p>
            {{pageResource.footerText}}
        </p>
    </div>
</div>