<div class='chart-type-conatiner' style='display:none'>
	 
<div id='div_edit_chart_container' class="animated slideInDown" style="" >
    <div class="dtm-winpn cpt" style="display: block;margin-left: -9px;  margin-top: -13px; ">
        <div class="dtm-winpn-con">
            <div class="dtm-addchtpn chart-setting">
                <div data-cpt="type: 'tab',name: 'tab',viewModel: {currentTab: lib.ob('LINE'),baseCss: 'dtm-tab0',tabAttr: 'cpt-tab0',conAttr: 'cpt-con0'}" class="cpt cpt-tab">
                    <ul class="dtm-tab0 chartmenu">
                        <li tab="LINE" class="dtm-tab0-li active"><i class="auicon chart-line"></i>折线图</li>
                        <li tab="BAR" class="dtm-tab0-li "><i class="auicon chart-bar"></i>柱形图</li>
                        <li tab="PIE" class="dtm-tab0-li"><i class="auicon chart-pie"></i>饼　图</li>
                        <li tab="SCATTER" class="dtm-tab0-li"><i class="auicon chart-scatter"></i>散点图</li>
                        <li tab="BUBBLE" class="dtm-tab0-li"><i class="auicon chart-bubble"></i>气泡图</li>
                        <li tab="RADAR" class="dtm-tab0-li"><i class="auicon chart-redar"></i>雷达图</li>
                        <li tab="FUNNEL" class="dtm-tab0-li"><i class="auicon chart-funnel"></i>漏斗图</li>
                        <li tab="GAUGE" class="dtm-tab0-li"><i class="auicon chart-dashboard"></i>仪表盘</li>
                        <li style='display:none' tab="ZUHE" class="dtm-tab0-li"><i class="auicon chart-combo"></i>组合图</li>
                    </ul>
                    <div data-cpt-con0="LINE" class="dtm-tab0-coni active">
                        <div class="dtm-con-item" data-tab-key="LINE" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/line11.png">
                            <h3>标准折线图</h3><em>普通的折线图</em></div>
                        <div class="dtm-con-item" data-tab-key="LINE" data-mold-index="1"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/line3.png">
                            <h3>标准面积图</h3><em>填充样式，平滑曲线</em></div>
                        <div class="dtm-con-item" data-tab-key="LINE" data-mold-index="2"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/line4.png">
                            <h3>堆积面积图</h3><em>任意系列多维度堆积</em></div>
                        <div style='display:none' class="dtm-con-item" data-tab-key="LINE" data-mold-index="3"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/line5.png">
                            <h3>标准折线图</h3><em>横纵坐标互换，平滑曲线</em></div>
                    </div>
                    <div data-cpt-con0="BAR" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="BAR" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/bar1.png">
                            <h3>标准柱形图</h3><em>基本的柱形图</em></div>
                        <div class="dtm-con-item" data-tab-key="BAR" data-mold-index="1"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/bar21.png">
                            <h3>堆积柱形图</h3><em>任意系列多维度堆积</em></div>
                        <div class="dtm-con-item" data-tab-key="BAR" data-mold-index="2"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/bar3.png">
                            <h3>标准条形图</h3><em>柱形图的横纵坐标互换</em></div>
                        <div class="dtm-con-item" data-tab-key="BAR" data-mold-index="3"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/bar4.png">
                            <h3>堆积条形图</h3><em>任意系列多维度堆积</em></div>
                    </div>
                    <div data-cpt-con0="PIE" class="dtm-tab0-coni">
                        <div style='display:none' class="dtm-con-item" data-tab-key="PIE" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/pie1.png">
                            <h3>标准饼图</h3><em>基本的饼图</em></div>
                        <div class="dtm-con-item" data-tab-key="PIE" data-mold-index="1"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/pie1.png">
                            <h3>标准饼图</h3><em>基本的饼图，数据标注</em></div>
                        <div class="dtm-con-item" data-tab-key="PIE" data-mold-index="2"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/pie2.png">
                            <h3>标准环形图</h3><em>基本的环形饼图</em></div>
                        <div style="display:none" class="dtm-con-item" data-tab-key="PIE" data-mold-index="3"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/pie3.png">
                            <h3>嵌套饼图</h3><em>由两个（或多个）饼图嵌套而成</em></div>
                    </div>
                    <div data-cpt-con0="SCATTER" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="SCATTER" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/scatter1.png">
                            <h3>标准散点图</h3><em>标注，标线</em></div>
                    </div>
                    <div data-cpt-con0="BUBBLE" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="BUBBLE" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/scatter2.png">
                            <h3>标准气泡图</h3><em>气泡大小计算</em></div>
                    </div>
                    <div data-cpt-con0="RADAR" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="RADAR" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/radar1.png">
                            <h3>标准雷达图</h3><em>标准雷达图</em></div>
                    </div>
                    <div data-cpt-con0="FUNNEL" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="FUNNEL" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/funnel10.png">
                            <h3>标准漏斗图</h3><em>基本的漏斗图</em></div>
                        <div style='display:none' class="dtm-con-item" data-tab-key="FUNNEL" data-mold-index="1"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/funnel12.png">
                            <h3>背景漏斗图（待发布）</h3><em>背景调谐了漏斗的“丁字形状”</em></div>
                    </div>
                    <div data-cpt-con0="GAUGE" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="GAUGE" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/gauge1.png">
                            <h3>标准仪表盘</h3><em>标准仪表盘</em></div>
                    </div>
                    <div data-cpt-con0="ZUHE" class="dtm-tab0-coni">
                        <div class="dtm-con-item" data-tab-key="ZUHE" data-mold-index="0"><img src="http://g.tbcdn.cn/sjzn/system/v2/images/excel/chart-icon-2/zuhe.png">
                            <h3>组合</h3><em>组合图</em></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
    .dtm-winpn {
       -webkit-border-radius: 2px solid #beb764;
        -moz-border-radius: 2px solid #beb764;
        border-radius: 2px solid #beb764;
        padding: 15px;
        margin: 0;
        background: white;
        
        color: #5C5757;
        overflow: hidden;
        z-index: 1010;
        display: none;
        position: fixed;
        
        top: 50%;
        margin-left: -50%;
		
        overflow: visible;
        padding: 10px

    }

    .dtm-winpn li {
        padding: 0px;
        margin: 0px;
        border: 0px none;
        outline: 0px none;
    }
    .chartmenu li{
        padding:0 4px;
        color:#000;
    }
     .chartmenu li i{
        margin-right:4px;
    }
    .dtm-winpn-con {
        overflow: hidden
    }
    
    .dt-global-mask-winpn {
        z-index: 1199
    }
    
    .dtm-dlg {
        min-width: 200px;
        max-width: 400px
    }
    
    .dtm-dlg .dtm-con {
        padding: 10px;
        font-size: 14px
    }
    
    .dtm-dlg .dtm-btns {
        text-align: right;
        margin-top: 10px
    }
    
    .dtm-dlg .dtm-btn {
        margin: 0 2px
    }
    
    .dtm-wvhdr {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1004;
        background: #373941;
        height: 44px;
        color: #f0f0f0;
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px
    }
    
    .dtm-wvhdr img.dtm-wvlogo {
        position: absolute;
        left: 15px;
        top: 6px;
        width: 110px;
        overflow: hidden;
        cursor: pointer;
        border-width: 0
    }
    
    .dtm-wvhdr .dtm-user-info {
        display: inline-block;
        position: absolute;
        top: 14px;
        right: 80px;
        height: 24px;
        line-height: 24px
    }
    
    .dtm-wvhdr .dtm-user-info a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        color: #f0f0f0
    }
    
    .dtm-wvhdr .dtm-user-info a:active,
    .dtm-wvhdr .dtm-user-info a:focus {
        outline: none
    }
    
    .dtm-wvhdr .dtm-user-info a:active,
    .dtm-wvhdr .dtm-user-info a:focus {
        outline: none
    }
    
    .dtm-wvhdr .dtm-user-info a:active,
    .dtm-wvhdr .dtm-user-info a:focus {
        outline: none
    }
    
    .dtm-wvhdr .dtm-user-info a:active,
    .dtm-wvhdr .dtm-user-info a:focus {
        outline: none
    }
    
    .dtm-wvhdr .dtm-echarts-logo img {
        position: absolute;
        right: 16px;
        top: 6px;
        width: 34px;
        overflow: hidden;
        border-width: 0
    }
    
    .dtm-html-gly {
        background: #77878d;
    }
    
    .dtm-create-btn {
        position: fixed;
        z-index: 1004;
        top: 40px;
        right: 70px;
        height: 34px;
        line-height: 34px;
        width: 120px;
        font-size: 14px;
        font-weight: normal;
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
    
    .dtm-create-btn-disabled {
        background: #051b38;
        color: #adc7df;
        cursor: default
    }
    
    .dtm-create-btn-disabled-init {
        background: #373941;
        color: #373941
    }
    
    .dtm-create-btn-center {
        top: 40%;
        left: 50%;
        width: 400px;
        margin-left: -200px;
        background-color: transparent;
        font-size: 52px;
        font-weight: bold;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    
    .dtm-create-btn-center:hover {
        text-shadow: 0 0 30px #61accd
    }
    
    .dtm-glyprodli {
        *zoom: 1;
        margin: 90px auto 40px auto;
        width: 910px;
        position: relative
    }
    
    .dtm-glyprodli:before,
    .dtm-glyprodli:after {
        display: table;
        content: ""
    }
    
    .dtm-glyprodli:after {
        clear: both
    }
    
    .dtm-glyprodli .dtm-tabh {
        position: relative
    }
    
    .dtm-glyprodli .dtm-tabh ul {
        list-style: none
    }
    
    .dtm-glyprodli .dtm-tabh-h {
        visibility: hidden;
        *zoom: 1;
        position: relative;
        width: 300px;
        margin-left: 30px;
        color: #fff;
        font-size: 14px
    }
    
    .dtm-glyprodli .dtm-tabh-h:before,
    .dtm-glyprodli .dtm-tabh-h:after {
        display: table;
        content: ""
    }
    
    .dtm-glyprodli .dtm-tabh-h:after {
        clear: both
    }
    
    .dtm-glyprodli .dtm-tabh-hi {
        background: #566266;
        text-align: center;
        padding: 0;
        cursor: pointer;
        float: left;
        margin: 0 5px;
        padding: 0 14px;
        padding-top: 2px;
        height: 40px;
        line-height: 40px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px
    }
    
    .dtm-glyprodli .dtm-tabh-hi:hover {
        background: #1e3379
    }
    
    .dtm-glyprodli .dtm-tabh-hi-curr {
        padding-top: 0;
        height: 44px;
        line-height: 44px;
        background: #373941
    }
    
    .dtm-glyprodli .dtm-tabh-hi-curr:hover {
        background: #373941
    }
    
    .dtm-glyprodli .dtm-tabh-coni {
        *zoom: 1;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 15px
    }
    
    .dtm-glyprodli .dtm-tabh-coni:before,
    .dtm-glyprodli .dtm-tabh-coni:after {
        display: table;
        content: ""
    }
    
    .dtm-glyprodli .dtm-tabh-coni:after {
        clear: both
    }
    
    .dtm-preview {
        padding-left: 0;
        padding-right: 0
    }
    
    .dtm-preview .dtm-winpn-con {
        height: 100%;
        overflow: auto
    }
    
    .dtm-preview iframe {
        display: block;
        margin: 0 auto;
        height: 100%
    }
    
    .dtm-pprcfg-sp {
        position: absolute;
        top: 15px;
        right: 0;
        bottom: 15px;
        left: 15px
    }
    
    .dtm-pprcfg-sp .cpt-sclpn-con {
        position: absolute;
        right: 15px;
        top: 0;
        left: 0
    }
    
    .dtm-pprcfg-sp .cpt-sclpn-vsclbar {
        right: 5px;
        background: #f0f0f0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px
    }
    
    .dtm-pprcfg-sp .cpt-sclpn-con-vscl {
        right: 25px
    }
    
    .dtm-pprcfg-sp .cpt-sclpn-vsclbar-thumb {
        background: #4c4e59;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px
    }
    
    .dtm-edtitm-theme .dtm-edtitm-title {
        cursor: default
    }
    
    .dtm-edtitm-theme .dtm-edtitm-title span {
        margin-left: 0
    }
    
    .cpt-codepn .dtm-code-title {
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px
    }
    
    .cpt-codepn .dtm-code-box {
        position: relative;
        width: 720px;
        height: 500px
    }
    
    .cpt-codepn .CodeMirror {
        height: 100%
    }
    
    .dtm-addchtpn {
        width: 720px;
        height: 500px
    }
    
    .dtm-addchtpn .cpt-tab {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0
    }
    
    .dtm-addchtpn .dtm-tab0 {
        position: absolute;
        left: 0;
        top: 10px;
        bottom: 10px;
        right: 0;
        overflow: hidden;
        width: 100px;
        padding-left: 0px;
    }
    
    .dtm-addchtpn .dtm-tab0-li {
        display: block;
        text-align: center;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        font-size: 12px;
        margin: 5px 0;
        margin-right: 2px;
        padding-left: 2px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px
    }
    
 
    
    .dtm-addchtpn .active {
        margin-right: 0;
        padding-left: 0;
        background: #f0f0f0;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px
        color: #163315;
        font-weight: bold;
    }
    
  
    
    .dtm-addchtpn .dtm-tab0-coni {
        display: none;
        position: absolute;
        top: 8px;
        bottom: 8px;
        right: 8px;
        left: 94px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #f0f0f0;
        padding: 15px 10px
    }
    
    .dtm-addchtpn .dtm-tab0-coni.active {
        display: block;
    }
    
    .dtm-addchtpn .dtm-con-item {
        margin: 4px 4px 20px 4px;
        display: inline-block;
        width: 186px;
        cursor: pointer;
        border:solid 1px #f0f0f0;
        padding-bottom: 4px;
         background:#fff;

    }
    .dtm-addchtpn .dtm-con-item:hover {
        border:solid 1px #7D7A20;
       
    }
    .dtm-addchtpn .dtm-con-item.active {
        border:1px solid #7D7A20;
        box-shadow:1px 1px 1px;
    }
    
    .dtm-addchtpn .dtm-con-item img {
        display: block;
        width: 186px;
        height: 93px
    }
    
    .dtm-addchtpn .dtm-con-item h3 {
    	padding-left:10px;
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
        color: #76BD8B
    }
    
    .dtm-addchtpn .dtm-con-item em {
    	padding-left:10px;
        font-size: 12px;
        
        
    }
    
    .dtm-addchtpn .dtm-msg {
        font-size: 16px;
        color: #f0f0f0;
        text-align: center;
        margin-top: 200px
    }
    
    .dtm-close-cross {
        float: right;
        margin-top: -31px;
        cursor: pointer;
    }
    </style>
</div>
<script type="text/javascript">

</script>

 

</div>